<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clardy_Tyler_GOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Clardy_Tyler_GOL.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="gridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="uniWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="uniHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="timerInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="showHUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CountOption" serializeAs="String">
                <value>False</value>
            </setting>
        </Clardy_Tyler_GOL.Properties.Settings>
    </userSettings>
</configuration>